@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif ;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color:rgba(35, 35, 85);
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color:rgba(24, 24, 49) ;
}

nav{
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
}

nav img {
    width: 150px;
    cursor: pointer;
}

nav .navigation .ul {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigation .ul .li {
    list-style: none;
    margin-left: 30px;
}

nav .navigation ul li a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navigation ul li a:hover {
    color:#FDC93B
}

#home {
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), 
    url(-1200-630-62f3a403aa008.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#home h2 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#home p {
    width: 40%;
    color: #fff;
    font-size: 0.9rem;
    line-height: 25px;
}

#home .btn1 {
    margin: 20px;
}

#home .btn2 {
    margin-top: -10px;
}

#home a {
    text-decoration: none;
    font-size: 0.9rem;
    padding: 13px 35px;
    background-color:#fff;
    font-weight: 600;
    border-radius: 5px;
}

#home .blue {
    color: #fff;
    background-color: rgb(21, 21, 100);
    transition: 0.4s ease;
}

#home .blue:hover {
    color: rgb(21, 21, 100);
    background-color: #fff;
}

#home .yellow {
    color: #fff;
    background-color: #FDC93B;
    transition: 0.4s ease;
}

#home .yellow:hover {
    color:rgb(21, 21, 100);
    background-color: #fff;
}


#features{
    padding: 5vw 8vw 0 8vw;
    text-align: center;
}

#features .fea-base{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#features .fea-box{
    background: #f9f9ff;
    text-align: start;
}

#features .fea-box i{
    font-size: 2.3rem;
    color: rgb(44, 44, 80)
}

#features .fea-box h3{
    font-size: 1.2rem;
    font-weight: 600;
    color: rgb(46, 46, 59);
    padding: 13px 0 7px 0;
    cursor: pointer;
}

#features .fea-box p{
    font-size: 1rem;
    font-weight: 400;
    color: rgb(70, 70, 87);
}



#features .fea-box .ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
#features .fea-box .ul .li{
    list-style: none;
    margin-left: 30px;
}
#features .fea-box .ul .li .a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

#features .fea-box .ul .li .a:hover {
    color:#FDC93B
}





#antaret {
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

#antaret p {
    width: 100%;
    color: rgb(8, 2, 52);
    font-size: 0.9rem;
    line-height: 25px;

}

#antaret .antaret-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#antaret .antaret-box .profile{
    background: #fafaf1;
    padding: 30px 10px;

}

#fundi{
    background-image: linear-gradient(rgba(9, 5, 54, 0.3), rgba(5, 4, 46, 0.7)), 
    url(604fc2f2260000cc17d854ff.jpeg);
    width: 100%;
    height: 100vh;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 40px;
}

#fundi h1 {
    color: #fff;
    font-size: 2.2rem;
    letter-spacing: 1px;
}

#antaret2 {
    background-color:rgb(220, 197, 144);
    width: 100%;
    height: 800vh;
    background-size: cover;
    background-position: center;
    padding: 8vw 8vw 0 8vw;
    text-align: center;
}

#antaret2 p {
    width: 100%;
    color: rgb(8, 2, 52);
    font-size: 0.9rem;
    line-height: 25px;

}

#antaret2 .antaret-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#antaret2 .antaret-box .profile{
    background: #fafaf1;
    padding: 30px 10px;

}
