@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif ;
}

h1 {
    font-size: 2.5rem;
    font-weight: 700;
    color:rgb(30, 30, 76);
}

span {
    font-size: .9rem;
    color: #757373;
}

h6 {
    font-size: 1.1rem;
    color:rgba(24, 24, 49) ;
}

nav{
    position: fixed;
    width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 1vw 8vw;
    box-shadow: 2px 2px 10px rgba(0, 0, 0, 0.15);
    z-index: 999;
}

nav img {
    width: 120px;
    cursor: pointer;
}

nav .navigim ul{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav .navigim ul li{
    list-style: none;
    margin-left: 30px;
}

nav .navigim ul li a {
    text-decoration: none;
    color: rgb(21, 21, 100);
    font-size: 16px;
    font-weight: 500;
    transition: 0.3s ease;
}

nav .navigim ul li a:hover {
    color:#FDC93B
}

#krijimet {
    background-color:rgb(236, 217, 172);
    background-size: cover;
    background-position: center;
    padding: 8vw 8vw 0 8vw;
    text-align: center;
    width: 100%;
    height: 900vh;
}

#krijimet p {
    width: 100%;
    color: rgb(11, 3, 78);
    font-size: 0.9rem;
    line-height: 25px;
    text-align: justify;

}
#krijimet h6 {
    width: 100%;
    color: rgb(13, 6, 66);
    text-align: center;

}


#anetaret2 {
    background-color:rgb(236, 217, 172);
    background-size: cover;
    background-position: center;
    padding: 8vw 8vw 0 8vw;
    text-align: center;
    width: 100%;
    height: 1000vh;
}

#anetaret2 p {
    width: 100%;
    color: rgb(11, 3, 78);
    font-size: 0.9rem;
    line-height: 25px;
    text-align: left;

}
#anetaret2 h6 {
    width: 100%;
    color: rgb(13, 6, 66);
    text-align: center;

}

#anetaret2 .antaret-box{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 1rem;
    margin-top: 50px;
}

#anetaret2 .antaret-box .profile{
    background: rgba(236, 200, 116, 0.699);
    padding: 30px 10px;
    border-radius: 5px;

}

#kontakt {
    background-color:rgb(236, 217, 172);
    background-size: cover;
    background-position: center;
    padding: 8vw 8vw 0 8vw;
    text-align: center;
    width: 100%;
    height: 900vh;
}

#kontakt p {
    width: 100%;
    color: rgb(11, 3, 78);
    font-size: 0.9rem;
    line-height: 25px;
    text-align: center;

}
#kontakt h6 {
    width: 100%;
    color: rgb(13, 6, 66);
    text-align: center;

}

#kryeartikull {
    background-color:rgb(236, 217, 172);
    background-size: cover;
    background-position: center;
    padding: 8vw 8vw 2vw 8vw;
    display: flex;
    align-items: center;
}

#kryeartikull p {
    width: 100%;
    color: rgb(11, 3, 78);
    font-size: 0.9rem;
    line-height: 25px;
    text-align: justify;

}

#kryeartikull h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color:rgb(30, 30, 76);
}
#kryeartikull h6 {
    text-align: center;
    font-weight: 450;
    color:rgb(39, 39, 123);
}

#kryeartikull .imgintk{
    width: 70%;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 180px;
}

#kryeartikull .artikullktext {
    width: 100%;
    padding: 60px;
    padding: 8vw 4vw 2vw 4vw;
}

#artikull2 {
    background-color:rgb(236, 217, 172);
    background-size: cover;
    background-position: center;
    padding: 8vw 8vw 2vw 8vw;
    display: flex;
    align-items: center;
}

#artikull2 p {
    width: 100%;
    color: rgb(11, 3, 78);
    font-size: 0.9rem;
    line-height: 25px;
    text-align: justify;
    padding-left: 2%;
    padding-right: 3%;

}

#artikull2 h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color:rgb(30, 30, 76);
}

#artikull2 h6 {
    text-align: center;
    font-weight: 450;
    color:rgb(39, 39, 123);
}

#artikull2 .imgint2 {
    width: 70%;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 180px;
    
}
#artikull2 .imgint2-1 {
    width: 70%;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 600px;
    
}


#artikull2 .artikull1text {
    width: 100%;
    padding: 60px;
    padding: 8vw 4vw 2vw 4vw;
}

#artikull3 {
    background-color:rgb(236, 217, 172);
    background-size: cover;
    background-position: center;
    padding: 8vw 8vw 2vw 8vw;
    display: flex;
    align-items: center;
}

#artikull3 p {
    width: 100%;
    color: rgb(11, 3, 78);
    font-size: 0.9rem;
    line-height: 25px;
    text-align: justify;

}

#artikull3 h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color:rgb(30, 30, 76);
}
#artikull3 h6 {
    text-align: center;
    font-weight: 450;
    color:rgb(39, 39, 123);
}

#artikull3 .imgint3{
    width: 70%;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 180px;
}
#artikull3 .imgint4{
    width: 65%;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 4600px;
}

#artikull3 .artikull3text {
    width: 100%;
    padding: 60px;
    padding: 8vw 4vw 2vw 4vw;
}

#artikull4 {
    background-color:rgb(236, 217, 172);
    background-size:cover;
    background-position: center;
    padding: 8vw 8vw 2vw 8vw;
    display: flex;
    align-items: center;
}

#artikull4 p {
    width: 100%;
    color: rgb(11, 3, 78);
    font-size: 0.9rem;
    line-height: 25px;
    text-align: justify;

}

#artikull4 h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color:rgb(30, 30, 76);
}
#artikull4 h6 {
    text-align: center;
    font-weight: 450;
    color:rgb(39, 39, 123);
}

#artikull4 .artikull4foto {
    width: 60%;
}

#artikull4 .imgint4{
    width: 70%;
    position: absolute;
    left: 15%;
    right: 15%;
}

#artikull4 .artikull4text {
    width: 100%;
    padding: 60px;
    padding: 8vw 4vw 2vw 4vw;
}

#artikull5 {
    background-color:rgb(236, 217, 172);
    background-size:cover;
    background-position: center;
    padding: 8vw 8vw 2vw 8vw;
    align-items: center;
}

#artikull5 p {
    width: 100%;
    color: rgb(11, 3, 78);
    font-size: 0.9rem;
    line-height: 25px;
    text-align: justify;

}

#artikull5 h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color:rgb(30, 30, 76);
}
#artikull5 h6 {
    text-align: center;
    font-weight: 450;
    color:rgb(39, 39, 123);
}

#artikull5 .artikull5foto {
    width: 60%;
}

#artikull5 .imgint5{
    width: 70%;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 180px;
}

#artikull5 .artikull5text {
    width: 100%;
    padding: 60px;
    padding: 8vw 4vw 2vw 4vw;
    padding-left: 2%;
    padding-right: 2%;
}

#artikull6 {
    background-color:rgb(236, 217, 172);
    background-size:cover;
    background-position: center;
    padding: 8vw 8vw 2vw 8vw;
    align-items: center;
}

#artikull6 p {
    width: 100%;
    color: rgb(11, 3, 78);
    font-size: 0.9rem;
    line-height: 25px;
    text-align: justify;

}

#artikull6 h1 {
    text-align: center;
    font-size: 2.5rem;
    font-weight: 700;
    color:rgb(30, 30, 76);
}
#artikull6 h6 {
    text-align: center;
    font-weight: 450;
    color:rgb(39, 39, 123);
}

#artikull6 .artikull6foto {
    width: 60%;
}

#artikull6 .imgint6{
    width: 70%;
    position: absolute;
    left: 15%;
    right: 15%;
    top: 180px;
}

#artikull6 .artikull6text {
    width: 100%;
    padding: 60px;
    padding: 8vw 4vw 2vw 4vw;
    padding-left: 2%;
    padding-right: 2%;
}

@media (min-height:641px){
    #artikull3 .imgint4 {
        top: 4400px;
    }

}

@media (min-height:890px){
    #artikull3 .imgint4 {
        top: 4350px;
    }

}